@model CustomerCrud.Models.Customers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerType.CustomerTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
